<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="python" arguments="app_adapter_conversational.py" stdoutLogEnabled="true" stdoutLogFile="python.log" startupTimeLimit="60" requestTimeout="00:04:00">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="USE_REAL_AGENTS" value="true" />
        <environmentVariable name="LLM_PROVIDER" value="google" />
        <environmentVariable name="GOOGLE_MODEL" value="gemini-2.0-flash" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
